<% layout("layouts/boilerplate", { homePage: true }) %>

  

<section class="hero">
  <div class="overlay text-white text-center d-flex flex-column justify-content-center align-items-center">
    
    <h1><strong>Welcome to StayUp</strong></h1>
<h2><span style="color: #FFC107;">Plan your next adventure or share your space with travelers</span></h2>
<p>Open your doors to explorers and dreamers.</p>


<a href="/listings" class="custom-btn">Explore Stays</a>


  </div>
</section>